.index .swiper {
  position: relative;
  height: 212px;
}

.index .swiper .search-box {
  position: absolute;
  top: 25px;
  width: 100%;
  padding: 0 10px;
}

.index .swiper .search-box .search {
  flex: 1;
  height: 34px;
  margin: 0 10px;
  padding: 5px 5px 5px 8px;
  border-radius: 3px;
  background-color: #fff;
}

.index .swiper .search-box .search .location .icon-arrow {
  margin-left: 2px;
  font-size: 12px;
  color: #7f7f80;
}

.index .swiper .search-box .search .form {
  border-left: 1px solid #e5e5e5;
  margin-left: 12px;
  line-height: 16px;
}

.index .swiper .search-box .search .form .icon-seach {
  vertical-align: middle;
  padding: 0 2px 0 12px;
  color: #9c9fa1;
  font-size: 15px;
}

.index .swiper .search-box .search .form  .text {
  padding-left: 4px;
  font-size: 13px;
  color: #9c9fa1;
}

.index .nav {
  padding: 10px;
  background-color: #fff;
}

.index .nav img {
  width: 45px;
}

.index .nav h2 {
  font-size: 13px;
  font-weight: 400;
  margin-top: 7px;
}

.index .nav .am-flexbox-item {
  text-align: center;
}

.index .groups {
  padding: 10px;
  background-color: #f5f5f9;
}

.index .groups h3 {
  position: relative;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  vertical-align: text-top;
}

.index .groups .more {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 12px;
  font-weight: 400;
}

.index .groups .group-item img {
  width: 65px;
}

.index .groups .group-item .title {
  font-weight: 700;
}

.index .groups .group-item .desc {
  font-size: 13px;
}

/* 覆盖默认样式 */
.index .groups .am-grid .am-flexbox {
  background: inherit;
}

.index .groups .am-flexbox .am-flexbox-align-center {
  align-items: flex-start;
}

.index .groups .am-grid .am-flexbox .am-flexbox-item {
  text-align: center;
}

.index .groups .am-grid .am-flexbox-align-stretch:first-child {
  margin-bottom: 10px;
}

.index .groups .am-grid .am-flexbox-align-stretch .am-flexbox-item {
  background-color: #fff;
}

.index .groups .am-grid .am-flexbox-align-stretch .am-flexbox-item:first-child {
  margin-right: 10px;
}

.index .news {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

.index .news .news-title {
  margin: 10px 0 5px 10px;
  font-size: 15px;
}

.index .news .news-item {
  height: 120px;
  padding: 15px 10px 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.index .news .news-item .img_wrapper {
  float: left;
  height: 90px;
  width: 120px;
}

.index .news .news-item .img_wrapper img {
  height: 90px;
  width: 120px;
}

.index .news .news-item .content {
  overflow: hidden;
  height: 100%;
  padding-left: 12px;
}

.index .news .news-item .content .title {
  margin-bottom: 15px;
  font-size: 14px;
}

.index .news .news-item .content .info {
  width: 100%;
  color: #9c9fa1;
  font-size: 12px;
}